fastapi
uvicorn[standard]
httpx
pydantic
pydantic-settings
sqlalchemy
pymysql
cryptography
pymupdf
groq
python-multipart
python-dotenv
sentence-transformers
chromadb
bcrypt
pyjwt
slowapi
rank-bm25
pinecone-client